.content-wrapper
  box-shadow: 0 0.6rem 1.4rem -0.4rem #d5dae2
  transition: box-shadow .3s ease-in-out
  margin-bottom: 50px
  &:hover
    box-shadow: 0 1.8rem 1.8rem -0.5rem #cbd1dc

  .content
    &-title
      background: white
      text-align: center
      padding: 15px 0 10px 0
      h1
        font-weight: 300
        margin: 0

    &-actions
      background: rgba(0, 0, 0, .02)
      padding: 10px 20px
      margin-bottom: 5px

    &-section
      background: white

.ant-menu-dark, .ant-layout-header
  background: #00A3C5
